.totals{
    margin-right: 100px;
}
.expense-total,.balance{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.expense-total p, .balance p{
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 5px;
    padding: 5px 30px;

}
.expense-total h3, .balance h3{
    color: rgb(20, 235, 20);
    margin-right: 30px;
    
}