.totals{
    margin-right: 100px;
}
.expense-total,.balance{
    display: grid;
    grid-template-columns: repeat(2, 100px);
    grid-column-gap:10px;
}
.expense-total p, .balance p{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}
.expense-total h2, .balance h2{
    color: rgb(20, 235, 20);
    
}